

@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');




* {
    margin: 8;
    font-family: "Roboto", sans-serif;
}

/* img {
    width: 100%;
} */

h1, h2, h3 {
    
    font-family: "Merriweather", serif;
    font-weight: 400;
    font-style: normal;
    color: crimson;
    /* text-decoration: underline; */

}

footer {
    background-color: rgb(63, 203, 156);
}

p {
    
    color: #0a0a0a;
    font-size: 18px;
}

#copyright {
    font-size: 24px ;
}

span {
    color: red;
}

h1 {
    font-size: 32px ;
}

h2 {
    font-size: 24px ;
}

footer {
    text-align: center;
}